<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous">
    </script>
    <title>Task Page</title>
</head>

<body class="m-3">

    <h1>Tarefas do dia</h1>

    <header>

        <% if(task==null) { %>

            <form action="/create" method="post">
                <input type="text" name="task" id="task" placeholder="Insira uma tarefa">
                <button type="submit" class="btn btn-success" id="addButton">Adicionar</button>
            </form>

            <% } else { %>

            <form action="/updateOne/<%= task._id %>" method="post">
                <input type="text" name="task" id="task" value="<%= task.task %>" placeholder="Atualizar tarefa">
                <button type="submit" class="btn btn-primary" id="addButton">Atualizar</button>
            </form>

            <% } %>

    </header>

    <section id="tasks">

        <ul>
            <% taskList.forEach((task) => { %>

            <li>
                <%= task.task %> | <%= task.date.toLocaleDateString('pt-br') %>
                    <a href="/getById/<%= task._id %>/update">Editar</a>
                    <a href="/getById/<%= task._id %>/delete">Deletar</a>
            </li>

            <% }) %>

        </ul>

    </section>

    <section>

    <% if(taskDelete !=null) { %>

        <h2>Confirmação</h2>
        <p>Deseja realmente <b>DELETAR</b> a tarefa: <%= taskDelete.task %>?</p>
        <a href="/deleteOne/<%= taskDelete._id %>">Sim</a>
        <a href="/">Não</a>

    </section>

    <% } %>

    <script src="script.js"></script>

</body>

</html>